@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.bg {
  width: 100%;
}
.container {
  width: 100%;
  height: 90vh;
  /* display: flex; */
  position: relative;
}
.text_btn {
  position: absolute;
  top: 20%;
  left: 8%;
}
.text_btn h1 {
  font-family: "quicksand";
  font-size: 40px;
  font-weight: 700;
  line-height: 1.4;
  color: #000;
}
.f_img {
  position: absolute;
  right: -10%;
  top: -65%;
  width: 700px;
  z-index: -9;
}
.s_img {
  position: absolute;
  width: 450px;
  right: 6%;
  top: 6%;
  z-index: -8;
}
.t_img {
  position: absolute;
  width: 150px;
  left: -6%;
  top: 6%;
}
.second_section {
  position: relative;
  height: 100vh;
  background: #c7aee5;
  margin-top: 2rem;
  /* padding-top: 6rem; */
  display: flex;
  align-items: center;
  justify-content: center;
}
/* top shape start */
.custom_shape_divider_top_1661243877 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom_shape_divider_top_1661243877 svg {
  position: relative;
  display: block;
  width: calc(185% + 1.3px);
  height: 127px;
}

.custom_shape_divider_top_1661243877 .shape_fill {
  fill: #ffffff;
}
/* top shape end */

/* bottom shape start */
.second_container {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: -1%;
  padding: 0;
  z-index: -1;
}
.custom_shape_divider_bottom_1661243641 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom_shape_divider_bottom_1661243641 svg {
  position: relative;
  display: block;
  width: calc(158% + 1.3px);
  height: 178px;
}

.custom_shape_divider_bottom_1661243641 .shape_fill {
  fill: #ffffff;
}
/* bottom shape end */

.second_title {
  font-family: "quicksand";
  font-size: 35px;
  font-weight: 700;
  color: #fff;
  text-align: center;
}

.img_cancer {
  width: 70%;
}
.img_cancer img {
  width: 80%;
}
.text_cancer {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 0.9rem;
}
.title_cancer {
  font-family: "quicksand";
  font-size: 25px;
  font-weight: 700;
  color: #000;
  padding-left: 1.8rem;
}
.par_cancer {
  font-family: "poppins";
  font-size: 13px;
  font-weight: 200;
  line-height: 1.5;
  color: #5e6282;
}
.third_section {
  width: 100%;
  height: 100vh;
  background-image: url(../public/images/break.svg);
}

.title_third_section {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title_third_section img {
  width: 30%;
}
.title_third_section h1 {
  position: absolute;
  top: 20%;
  font-family: "quicksand";
  font-size: 25px;
  font-weight: 700;
  line-height: 1.4;
  color: #000;
}
.subtitle_third_section {
  font-size: 20px;
  font-family: "quicksand";
  font-weight: 300;
  text-align: center;
  margin-top: 1rem;
}
.img_cards{
  position: relative;
}
.hands_img {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.hands_img img {
  width: 40%;
}
.shape_img {
  position: absolute;
  width: 150px;
  right: -6%;
  transform: rotate(180deg);
}
.card_third_section {
  width: 450px;
  position: absolute;
  top: 40%;
  left: 4%;
}
.doctor_img {
  width: 100px;
  position: absolute;
  top: -90%;
  z-index: -1;
}
.doctor_img img {
  width: 90%;
}
.par_third_section {
  padding: 1rem;
  border-radius: 1rem;
  background: rgb(166, 108, 255);
  background: linear-gradient(
    90deg,
    rgba(166, 108, 255, 1) 0%,
    rgba(83, 54, 128, 1) 100%
  );
  -webkit-box-shadow: 9px 11px 34px -4px rgba(0, 0, 0, 0.61);
  box-shadow: 9px 11px 34px -4px rgba(0, 0, 0, 0.61);
}
.par_third_section p {
  font-size: 12px;
  font-family: "quicksand";
  color: #fff;
  line-height: 1.8;
}
.cards_third_section {
  width: 450px;
  position: absolute;
  top: 80%;
  right: 6%;
  /* left: 40%; */
}
.doctors_img {
  width: 100px;
  position: absolute;
  top: -90%;
  right: 0;
  z-index: -1;
}
.doctors_img img {
  width: 90%;
}