@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.bg {
  width: 100%;
}
.container {
  width: 100%;
  height: 90vh;
  /* display: flex; */
  position: relative;
}
.text_btn {
  position: absolute;
  top: 20%;
  left: 8%;
}
.text_btn h1 {
  font-family: "quicksand";
  font-size: 40px;
  font-weight: 700;
  line-height: 1.4;
  color: #000;
}
.f_img {
  position: absolute;
  right: -10%;
  top: -65%;
  width: 700px;
  z-index: -9;
}
.s_img {
  position: absolute;
  width: 450px;
  right: 6%;
  top: 6%;
  z-index: -8;
}
.t_img {
  position: absolute;
  width: 150px;
  left: -6%;
  top: 6%;
}
.second_section {
  background: #C47AFF;
}
.white_break {
  position: relative;
  height: 120vh;
  background-image: url(../public/images/whiteB.svg);
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* top shape start */
.custom_shape_divider_top_1661243877 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom_shape_divider_top_1661243877 svg {
  position: relative;
  display: block;
  width: calc(185% + 1.3px);
  height: 127px;
}

.custom_shape_divider_top_1661243877 .shape_fill {
  fill: #ffffff;
}
/* top shape end */

/* bottom shape start */
.second_container {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: -1%;
  padding: 0;
  z-index: -1;
}
.custom_shape_divider_bottom_1661243641 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom_shape_divider_bottom_1661243641 svg {
  position: relative;
  display: block;
  width: calc(158% + 1.3px);
  height: 178px;
}

.custom_shape_divider_bottom_1661243641 .shape_fill {
  fill: #ffffff;
}
/* bottom shape end */

.second_title {
  font-family: "quicksand";
  font-size: 35px;
  font-weight: 700;
  color: #fff;
  text-align: center;
}

.img_cancer {
  width: 70%;
}
.img_cancer img {
  width: 80%;
}
.text_cancer {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 0.9rem;
}
.title_cancer {
  font-family: "quicksand";
  font-size: 25px;
  font-weight: 700;
  color: #000;
  padding-left: 1.8rem;
}
.par_cancer {
  font-family: "poppins";
  font-size: 13px;
  font-weight: 200;
  line-height: 1.5;
  color: #5e6282;
}
.third_section {
  width: 100%;
  height: 100vh;
  background-image: url(../public/images/break.svg);
}

.title_third_section {
  width: 100%;
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
/* .title_third_section img {
  width: 30%;
} */
.title_third_section h1 {
  /* position: absolute;
  top: 20%; */
  font-family: "quicksand";
  font-size: 30px;
  font-weight: 700;
  line-height: 1.4;
  color: #000;
}
.subtitle_third_section {
  font-size: 20px;
  font-family: "quicksand";
  font-weight: 300;
  text-align: center;
  margin-top: 1rem;
}
.img_cards {
  position: relative;
}
.hands_img {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.hands_img img {
  width: 40%;
}
.shape_img {
  position: absolute;
  width: 150px;
  right: -6%;
  transform: rotate(180deg);
}
.card_third_section {
  width: 450px;
  position: absolute;
  top: 40%;
  left: 4%;
}
.doctor_img {
  width: 100px;
  position: absolute;
  top: -90%;
  z-index: -1;
}
.doctor_img img {
  width: 90%;
}
.par_third_section {
  padding: 1rem;
  border-radius: 0.5rem;
  background: #C47AFF;
}
.par_third_section p {
  font-size: 12px;
  font-family: "quicksand";
  color: #fff;
  line-height: 1.8;
}
.par_fourth_section {
  padding: 1rem;
  border-radius: 0.5rem;
  background: #fff;
}
.par_fourth_section p {
  font-size: 12px;
  font-weight: bold;
  font-family: "quicksand";
  color: #8D42FF;
  line-height: 1.8;
}
.cards_third_section {
  width: 450px;
  position: absolute;
  top: 80%;
  right: 6%;
  /* left: 40%; */
}
.doctors_img {
  width: 100px;
  position: absolute;
  top: -90%;
  right: 0;
  z-index: -1;
}
.doctors_img img {
  width: 90%;
}
.fourth_section {
  background: #C47AFF;
}
.break_white {
  position: relative;
  height: 100vh;
  background-image: url(../public/images/whiteB.svg);
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content_fourth_section {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
}
.fourth_title {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 80%;
  justify-content: center;
  gap: 1rem;
}
.fourth_title h1 {
  font-family: "quicksand";
  font-weight: bold;
  font-size: 35px;
  line-height: 1.3;
  color: #fff;
}
.fourth_title p {
  font-family: "quicksand";
  font-weight: 300;
  font-size: 15px;
  line-height: 1.4;
  color: #fff;
}
.right_content {
  width: 70%;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: end;
  /* background: #000; */
}
.man_img {
  width: 100px;
  position: absolute;
  top: -100%;
  z-index: -1;
}
.man_img img {
  width: 90%;
}
.fourth_img {
  width: 60%;
  position: absolute;
  top: 25%;
}
.fourth_img img {
  width: 100%;
}
.card_fourth_section {
  width: 600px;
  position: absolute;
  top: 60%;
  right: 10%;
}
/* section four end here */

/* section five start */
.section_five {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 80vh;
  margin: auto;
  background-image: url(../public/images/break.svg);
}
.section_five_img {
  width: 40%;
}
.section_five_img img {
  width: 100%;
}
.section_five_text {
  display: flex;
  flex-direction: column;
  width: 55%;
  height: 80%;
  gap: 2rem;
}
.section_five_title {
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section_five_title img {
  width: 30%;
}
.section_five_title h1 {
  position: absolute;
  /* top: 20%; */
  font-family: "quicksand";
  font-size: 25px;
  font-weight: 700;
  line-height: 1.4;
  color: #000;
}
.section_five_text p {
  font-family: "poppins";
  font-size: 1rem;
  line-height: 2;
  font-weight: 100;
  color: #666666;
}
.section_five_span {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.section_five_dot {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #222222;
}
.dot {
  height: 10px;
  width: 10px;
  background-color: #ff7588;
  border-radius: 50%;
  display: inline-block;
}
.shape2_img {
  position: absolute;
  width: 100px;
  left: -3%;
  /* top: 500%; */
}
/* who we are section end */
/* our partners section start */
.section_six {
  width: 100%;
  margin-top: 2rem;
}
.section_six_shape {
  position: relative;
  height: 80vh;
  /* background: #c7aee5; */
  background: #C47AFF;
  z-index: -2;
}
.custom_shape_divider_top_1661344935 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom_shape_divider_top_1661344935 svg {
  position: relative;
  display: block;
  width: calc(204% + 1.3px);
  height: 81px;
}

.custom_shape_divider_top_1661344935 .shape_fill {
  fill: #ffffff;
}
.section_six_title {
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}
.section_six_title img {
  width: 25%;
}
.section_six_title h1 {
  position: absolute;
  margin-top: 0.5rem;
  font-family: "quicksand";
  font-size: 30px;
  font-weight: 700;
  line-height: 1.4;
  color: #000;
}
.section_six_images {
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}
.partners_logo {
  width: 150px;
}
.partners_lg {
  width: 100px;
}
.custom_shape_divider_bottom_1661350544 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom_shape_divider_bottom_1661350544 svg {
  position: relative;
  display: block;
  width: calc(204% + 1.3px);
  height: 181px;
}

.custom_shape_divider_bottom_1661350544 .shape_fill {
  fill: #ffffff;
}
