.container {
  width: 40%;
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
}
.first {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.left {
  width: 70%;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.left_img {
  width: 45px;
}
.left_img img {
  border-radius: 50%;
  width: 100%;
}
.left_text {
  display: flex;
  flex-direction: column;
  /* gap: 1px; */
}
.left_text h6 {
  font-size: 15px;
  font-weight: 600;
  font-family: "poppins";
  text-transform: capitalize;
  color: #1d1f23;
}
.left_text span {
  font-size: 12px;
  /* font-weight: 600; */
  font-family: "poppins";
  color: #606770;
}
.second {
  margin-bottom: 1rem;
}
.second p {
  font-size: 12px;
  font-family: "poppins";
}
.post_img {
  width: 100%;
  margin-bottom: 0.5rem;
}
.post_img img {
  width: 100%;
}
.third {
  width: 100%;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.third_left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.third_left svg {
  color: red;
  width: 0.9rem;
}
.third > span {
  font-size: 13px;
  font-family: "poppins";
}
.fourth{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-bottom: 0.3rem;
    margin-top: 0.2rem;
}
.like {
  font-size: 30px;
  width: 20px;
}
.section {
  display: flex;
  align-items: center;
  gap: 10px;
}
.section span {
  font-size: 13px;
  font-family: "poppins";
}
.top {
    width: 100%;
    border-radius: 0.8rem;
    display: flex;
    align-items: center;
    gap: 0.7rem;
    background: #fff;
    margin-top: 0.5rem;
  }
  .avatar {
    width: 40px;
  }
  .avatar img {
    width: 100%;
    border-radius: 50%;
  }
  .top_span {
    width: 90%;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-radius: 0.4rem;
    background: #f0f2f5;
  }
  .top_span span {
    font-size: 12px;
    font-family: "poppins";
    color: rgba(0, 0, 0, 0.6);
  }